In [40]:
import pandas as pd
import numpy as np

In [41]:
movies = pd.read_csv("./tmdb_5000_movies.csv")
credits = pd.read_csv("./tmdb_5000_credits.csv")

In [42]:
print(movies.shape)
movies.sample(2)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3180,8500000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,1619,"[{""id"": 75, ""name"": ""gunslinger""}, {""id"": 534,...",en,The Way of the Gun,Parker and Longbaugh are a pair of low-level p...,8.775844,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2000-09-08,19125401,119.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,The Way of the Gun,6.4,100
1355,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,9776,"[{""id"": 279, ""name"": ""usa""}, {""id"": 577, ""name...",en,Head of State,When a presidential candidate dies unexpectedl...,3.457194,"[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-01-01,0,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Head of State,5.3,71

In [43]:
print(credits.shape)
credits.sample(2)
# credits.sample(2)["movie_id"]
# credits.sample(2)["movie_id"].values

(4803, 4)

,movie_id,title,cast,crew
4133,215881,Plush,"[{""cast_id"": 4, ""character"": ""Hayley"", ""credit...","[{""credit_id"": ""52fe4e0bc3a368484e20b375"", ""de..."
726,9384,Starsky & Hutch,"[{""cast_id"": 1, ""character"": ""David Starsky"", ...","[{""credit_id"": ""556e26b0925141421d0013a7"", ""de..."

In [44]:
# Merge both the data on the base of title
df_movies  = movies.merge(credits, on='title')
print(df_movies.shape)
df_movies.head()

(4809, 23)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [45]:
df_movies = df_movies[["movie_id", "title", "overview", "genres", "keywords", "cast", "crew"]]
df_movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [46]:
df_movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [47]:
df_movies.dropna(inplace=True)

In [48]:
df_movies.duplicated().sum()

0

In [49]:
# Creating a tags from genres, keywords, cast, crew
import ast
# ast.literal_eval: Safely evaluate an expression node or a string containing a Python literal or container display.
# The string or node provided may only consist of the following Python literal structures: strings, bytes, numbers, tuples, lists, dicts, sets, booleans, and None.

def extractData(obj):
    tagList = []
    for i in ast.literal_eval(obj):
        tagList.append(i["name"])
    return tagList

In [52]:
df_movies["genres"] = df_movies["genres"].apply(extractData)

In [53]:
df_movies["keywords"] = df_movies["keywords"].apply(extractData)

In [54]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [58]:
# Extracking only 3 name of cast
def extractCast(obj):
    cast = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            cast.append(i['name'])
            counter += 1
        else:
            break
    return cast

In [60]:
df_movies["cast"] = df_movies["cast"].apply(extractCast)

In [63]:
def extractCrew_Director(obj):
    directorList = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            directorList.append(i['name'])
            break
    return directorList

In [65]:
df_movies["crew"] = df_movies["crew"].apply(extractCrew_Director)

In [67]:
# Overview is a string, onverting it into list
df_movies["overview"] = df_movies["overview"].apply(lambda x: x.split())

In [71]:
# concating the name, to separate "Sam Worthington" and "Sam Mendes" from #Sam common name and same for genres clm

df_movies["genres"] = df_movies["genres"].apply(lambda x: [i.replace(" ", "") for i in x])
df_movies["keywords"] = df_movies["keywords"].apply(lambda x: [i.replace(" ", "") for i in x])
df_movies["cast"] = df_movies["cast"].apply(lambda x: [i.replace(" ", "") for i in x])
df_movies["crew"] = df_movies["crew"].apply(lambda x: [i.replace(" ", "") for i in x])

In [73]:
df_movies["tags"] = df_movies["genres"] + df_movies["keywords"] + df_movies["cast"] + df_movies["crew"]

In [75]:
new_df = df_movies[["movie_id", "title", "tags"]]

In [78]:
# again converting tag list to strings

new_df["tags"] = new_df["tags"].apply(lambda x: " ".join(x))

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4540\4119769496.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x: " ".join(x))

In [80]:
new_df["tags"] = new_df["tags"].apply(lambda x: x.lower())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4540\1654334444.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x: x.lower())

In [105]:
# Removing diffrent form of same words, i.e Love, Loves, Loved these all should be Love

from nltk.stem.porter import PorterStemmer

In [108]:
ps = PorterStemmer()

In [110]:
# print(ps.stem("Loving"))
# print(ps.stem("Love"))
# print(ps.stem("Loved"))

love
love
love

In [112]:
def stem(text):
    stemmer = nltk.stem.porter.PorterStemmer()
    return ' '.join([stemmer.stem(w) for w in text.split()])

In [114]:
new_df["tags"] = new_df["tags"].apply(stem)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4540\825579503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(stem)

In [135]:
from sklearn.feature_extraction.text import  CountVectorizer

# Create a count vectorizer and fit it with the movie plot summaries
count_vectorizer = CountVectorizer(max_features= 5000, stop_words='english')

In [136]:
count_vectorizer.fit_transform(new_df["tags"]).toarray().shape

(4806, 5000)

In [137]:
vectors = count_vectorizer.fit_transform(new_df["tags"]).toarray()

In [138]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
count_vectorizer.get_stop_words()
# count_vectorizer.get_feature_names()
count_vectorizer.get_feature_names_out()

In [141]:
# Cosin similarity is inverse of cosin distance.
# Cosin similarity is a measure of similarity between two non-zero vectors of an inner product space that measures the cosine of the angle between them.

from sklearn.metrics.pairwise import cosine_similarity

In [143]:
similarity = cosine_similarity(vectors)

In [146]:
# Each vector distance from every vectors, same movies has 1 similarity, and 0 for non similar
similarity.shape

(4806, 4806)

In [149]:
# we recommend top 5 movies based on closest distance, for it need to sort the distance for given movie name
# Problem: if we directly sort we will lose the index number of that sorted movies, 
# Solution: so first we create a list using enumarate(), which will assign a index. Then we sort the list based on distance, then we will get the index of the sorted movies

def recommend(movie):
    movie_index = movies[movies['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[movie_index])), reverse=True, key=lambda x: x[1])

    for i in distances[1:6]:  # first 5 movies 
        print(new_df.iloc[i[0]].title)

In [150]:
recommend("Avatar")

Star Trek Into Darkness
Megaforce
Jupiter Ascending
The Lovers
Aliens

In [152]:
import pickle
pickle.dump(new_df, open("movie.pkl", "wb"))

In [153]:
# If data frame is not able to access from others, we can export as dictionary
pickle.dump(new_df.to_dict(), open("movies_dictionary.pkl", "wb") )

In [155]:
pickle.dump(similarity, open("similarity.pkl", "wb"))